{{#each ideas}}
	<div id="ideabox" class="card card-body mb-2">
		<h4>{{title}}</h4>
		<p>{{details}}</p>
		<a class="btn btn-dark btn-block mb-2" href="/ideas/edit/{{id}}">Edit</a>
		<form method="post" action="/ideas/{{id}}?_method=DELETE">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" class="btn btn-danger btn-block" value="Delete">			
		</form>
	</div>	
{{else}}
	<p>No Video Ideas Listed</p>
{{/each}}

<div class="ideawrapper">
	<img id="ideaImg1" src="/img/david15.jpg" height="1000" width="800">
</div>

<div id="lineIdea1">
</div>

<div id="lineIdea2">
</div>

<div id="lineIdea3">
</div>

<div id="lineIdea4">
</div>

<div id="lineIdea5">
</div>

<div id="lineIdea6">
</div>


